# GENESIS — Core Dependencies
openenv-core[core]
fastapi
pydantic
uvicorn
requests
fastmcp
numpy
matplotlib
pillow

# LLM & Training (Compulsory)
# torch (Temporary as torch is downloaded separetly)
transformers
trl
datasets
unsloth

# Solana & Blockchain
solana
solders
anchorpy
python-dotenv
base58
